$title-font: normal 24px/1.5 'Open Sans', sans-serif;
$primaryColor: #eeffcc;

body{
  margin: 0;
}
h1{
  margin: 0;
  padding: 0;
  color: $primaryColor;
}

.header{
  background-color: blue(#260,);
}
.section{
  height: 100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro{
  background-image: url('../images/sec1.jpg');
}
.service{
  background-color: rgba(117, 190, 218, 0.5);
}
.product{
  background-color: rgb(255, 255, 128);
}
.news{
  background-color: #11ffeeff;
}
.contact{
  background-color: rgba(50, 33%, 25%, 0.75);
}
