body {
  margin: 0; }

h1 {
  margin: 0;
  padding: 0;
  color: #eeffcc;
  font-style: italic; }

header nav {
  text-align: right;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1em;
  position: fixed;
  width: 100%; }

header nav a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 2em 1em .5em;
  -webkit-transition: all .3s ease-in; }

.section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.intro {
  background-image: url("../images/sec1.jpg"); }

.service {
  background-color: rgba(117, 190, 218, 0.5); }

.product {
  background-color: #ffff80; }

.news {
  background-color: #11ffeeff; }

.contact {
  background-color: rgba(50, 84, 64, 0.75); }
